# 3. 인덱스 활용
## * 특정 열을 행 인덱스로 설정
set_index() : 데이터프레임의 특정 열을 행 인덱스로 설정.


기존 객체 변경 없이 새로운 데이터프레임 객체를 반환

In [87]:
# -*- coding: utf-8 -*-
import pandas as pd

# 데이터 프레임으로 전환하기 : DataFrame() 사용.
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [88]:
# 특정 열을 데이터프레임의 행 인덱스로 설정 : set_index() 사용.
ndf = df.set_index(['이름'])
print(ndf)
print('\n')

ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')

ndf3 = ndf.set_index(['수학', '음악']) # 멀티인덱스
print(ndf3)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

### 원본 데이터프레임(df)에 변경사항을 적용하려면?

In [89]:

print('<원본 데이터프레임> \n\n',df,'\n')
df.set_index(['이름'], inplace=True)
#df = df.set_index(['이름'])
print('<변경된 데이터프레임> \n\n',df,'\n')

<원본 데이터프레임>

    이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

<변경된 데이터프레임>

     수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

## * 행 인덱스 재배열
reindex() : df의 행 인덱스를 새로운 배열로 재지정.

기존 객체 변경 없이 새로운 데이터프레임 객체를 반환

In [90]:
import pandas as pandas

closing_price_dict = {'삼성전자':[88800,82900,82200],'현대차':[246000,206000,203000],'카카오':[434000,402000,395500],'박셀바이오':[229700,269500,260200],'LG전자':[147500,15000,137500]}

# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(closing_price_dict, index=['1월 8일','1월 7일','1월 6일'])
print('< 기존 데이터프레임> \n\n',df,'\n')

< 기존 데이터프레임>

         삼성전자     현대차     카카오   박셀바이오    LG전자
1월 8일  88800  246000  434000  229700  147500
1월 7일  82900  206000  402000  269500   15000
1월 6일  82200  203000  395500  260200  137500

In [91]:
new_index = ['1월 8일','1월 7일','1월 6일','1월 5일','1월 4일']
ndf = df.reindex(new_index)

print('< 인덱스가 추가된 새로운 데이터프레임(ndf) >\n\n',ndf,'\n')

< 인덱스가 추가된 새로운 데이터프레임(ndf) >

           삼성전자       현대차       카카오     박셀바이오      LG전자
1월 8일  88800.0  246000.0  434000.0  229700.0  147500.0
1월 7일  82900.0  206000.0  402000.0  269500.0   15000.0
1월 6일  82200.0  203000.0  395500.0  260200.0  137500.0
1월 5일      NaN       NaN       NaN       NaN       NaN
1월 4일      NaN       NaN       NaN       NaN       NaN

if you get at least one NaN value in some column, int is converted to float.

In [92]:
ndf = df.reindex(new_index, fill_value='.....')

print('< 값을 채운 새로운 데이터프레임(ndf) >\n\n',ndf,'\n')

< 값을 채운 새로운 데이터프레임(ndf) >

         삼성전자     현대차     카카오   박셀바이오    LG전자
1월 8일  88800  246000  434000  229700  147500
1월 7일  82900  206000  402000  269500   15000
1월 6일  82200  203000  395500  260200  137500
1월 5일  .....   .....   .....   .....   .....
1월 4일  .....   .....   .....   .....   .....

## * 행 인덱스 초기화
reset_index() : 행 인덱스를 정수형 위치 인덱스로 초기화.

기존 행 인덱스는 열로 이동

새로운 데이터프레임 객체를 반환

In [93]:
print("< 직전 ndf의 모습 >\n\n",ndf,'\n\n')

ndf = ndf.reset_index()
print("< 초기화한 ndf의 모습 >\n\n",ndf)

< 직전 ndf의 모습 >

         삼성전자     현대차     카카오   박셀바이오    LG전자
1월 8일  88800  246000  434000  229700  147500
1월 7일  82900  206000  402000  269500   15000
1월 6일  82200  203000  395500  260200  137500
1월 5일  .....   .....   .....   .....   .....
1월 4일  .....   .....   .....   .....   .....


< 초기화한 ndf의 모습 >

    index   삼성전자     현대차     카카오   박셀바이오    LG전자
0  1월 8일  88800  246000  434000  229700  147500
1  1월 7일  82900  206000  402000  269500   15000
2  1월 6일  82200  203000  395500  260200  137500
3  1월 5일  .....   .....   .....   .....   .....
4  1월 4일  .....   .....   .....   .....   .....

## * 행 인덱스를 기준으로 데이터프레임 정렬
sort_index() : 행 인덱스를 기준으로 데이터프레임 값을 정렬.

ascending = True / False 옵션을 사용하여 오름차순 혹은 내림차순을 설정.

새롭게 정렬된 데이터프레임을 반환

In [94]:
import pandas as pd

# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print("default: 행 인덱스가 오름차순으로 정렬된 데이터프레임\n\n",df)

# 내림차순으로 행 인덱스 정렬 
ndf = df.sort_index(ascending=False)
print("\n\n\n행 인덱스가 내림차순으로 정렬된 데이터프레임\n\n",ndf)

default: 행 인덱스가 오름차순으로 정렬된 데이터프레임

     c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15



행 인덱스가 내림차순으로 정렬된 데이터프레임

     c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

## * 특정 열의 데이터 값을 기준으로 데이터프레임 정렬하기
sort_values() : 특정 열의 데이터를 기준으로 데이터프레임을 정렬.

In [101]:

# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[6,5,4], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)

ndf = df.sort_values(by='c1', ascending = False)
print(ndf)

ndf = df.sort_values(by='c1', ascending = True)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   6   7  10  13
r1   2   5   8  11  14
r2   3   4   9  12  15
    c0  c1  c2  c3  c4
r0   1   6   7  10  13
r1   2   5   8  11  14
r2   3   4   9  12  15
    c0  c1  c2  c3  c4
r2   3   4   9  12  15
r1   2   5   8  11  14
r0   1   6   7  10  13